.credlylti #region-main .card-block {
	margin: 0;
	padding: 0;
}
.credlylti #region-main .card-block h2 {
	display: none;
}
.credlylti iframe {
	width: 100%;
	height: 100%;
	min-height: 45rem;
	border: 0;
}
